target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
.mvn/
m2repos/
google-cloud-sdk/
.secret
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
